<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>task3</servlet-name>
        <servlet-class>task3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>新規Servlet</servlet-name>
        <servlet-class>新規Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task4</servlet-name>
        <servlet-class>task4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Human</servlet-name>
        <servlet-class>Human</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dealer</servlet-name>
        <servlet-class>Dealer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlackJack</servlet-name>
        <servlet-class>BlackJack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task1</servlet-name>
        <servlet-class>task1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task2</servlet-name>
        <servlet-class>task2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>新規Servlefaweft</servlet-name>
        <servlet-class>新規Servlefaweft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task5</servlet-name>
        <servlet-class>task5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task6</servlet-name>
        <servlet-class>task6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task7</servlet-name>
        <servlet-class>task7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task8</servlet-name>
        <servlet-class>task8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task9</servlet-name>
        <servlet-class>task9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task10</servlet-name>
        <servlet-class>task10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task11</servlet-name>
        <servlet-class>task11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>task12</servlet-name>
        <servlet-class>task12</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>task3</servlet-name>
        <url-pattern>/task3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>新規Servlet</servlet-name>
        <url-pattern>/__Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task4</servlet-name>
        <url-pattern>/task4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Human</servlet-name>
        <url-pattern>/Human</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dealer</servlet-name>
        <url-pattern>/Dealer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlackJack</servlet-name>
        <url-pattern>/BlackJack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task1</servlet-name>
        <url-pattern>/task1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task2</servlet-name>
        <url-pattern>/task2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>新規Servlefaweft</servlet-name>
        <url-pattern>/__Servlefaweft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task5</servlet-name>
        <url-pattern>/task5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task6</servlet-name>
        <url-pattern>/task6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task7</servlet-name>
        <url-pattern>/task7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task8</servlet-name>
        <url-pattern>/task8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task9</servlet-name>
        <url-pattern>/task9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task10</servlet-name>
        <url-pattern>/task10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task11</servlet-name>
        <url-pattern>/task11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>task12</servlet-name>
        <url-pattern>/task12</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
