 div#top{
   padding:18px;
}
div#fmenu{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #e8e8e8;
    border: 1px solid #000000;
    z-index: 9999;
}
div.menubar ul#menu {
   margin: 0px 0px 0px 15px; /* メニューバー外側の余白 */
   padding: 0px; /* メニューバー内側の余白 */
   height: 40px; /* メニューバーの高さ */
}
div.menubar ul#menu li {
   width: 120px; /* メニュー項目の横幅 */
   height: 40px; /* メニュー項目の高さ(「メニューバーの高さ」と一致させる) */
   float: left;
   list-style-type: none;
   position: relative;
}
div.menubar ul#menu a {
   background-color: #e8e8e8; /* メニュー項目の背景色 */
   color: blue; /* メニュー項目の文字色 */
   line-height: 40px; /* メニュー項目のリンクの高さ(「メニュー項目の高さ」と一致させる) */
   text-align: center; /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none; /* メニュー項目の装飾(下線を消す) */
   display: block;
   width: 100%;
   height: 100%;
}
div.menubar ul#menu li.hover a:hover {
   background-color: skyblue;  /*メニュー項目にマウスが載ったときの背景色*/ 
   color: black;  /*メニュー項目にマウスが載ったときの文字色 */
}
/* メニューバー直後のClearfix */
div.menubar ul#menu:after { height: 0; visibility: hidden; content: "."; display: block; clear: both; }
